@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* navbar style strats */
.logo{
    font-size: 2rem;
}
/* navbar style ends */

/* slider style starts */
.slide-img{
    width: 100%;
    height: 500px;
}
/* slider style starts */

/* Popula Courses style strats */
.courses-para, .students-para{
    color: #777777;;
}
/* Popula Courses style strats */

/* elearning Institute stye strats */
.elearning-img{
    width: 100%;
    height: 543px;
}
/* elearning Institute stye ends */

/* accrdding style strats */
.according-text{
    text-align: justify;
}
/* accrdding style ends */

 /*compannies style strats  */
 .companies-img{
    width: 150px;
    height: 50px;
    padding: 0 20px;
    margin: 0 15px;
 }
 /*compannies style ends  */

 /* footer style style */
 .footer{
    height: 300px;
    padding-top: 100px ;
 }
 /* footer style ends */

